<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Charge Test</title>
</head>
<body>
    <form action="/second-charge" method="POST">
        <input type="text" name="customerID" id="" value="<%= customerID %>">
        <input type="submit" value="Click to do a second charge">
    </form>
</body>
</html>